.UserDialog-Wrapper{ 
  /*全屏*/      
  position: fixed; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  /*内容居中*/  
  display: flex; 
  justify-content: center; 
  align-items: center;
  background: rgba(0,0,0,.5)
}
.UserDialog{
  border: 1px solid;
  border-radius: 4px;
  min-width: 20em;
  background: white;
  border: 1px solid #aaa;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
}
.UserDialog > nav:first-child{ 
  padding: 1em; 
  margin-left:-2em;
}
.UserDialog > nav:first-child lable{
    margin-left:2em;
    cursor:pointer;
}
.UserDialog > .panes { 
  padding: 0 1em 1em; 
}
.UserDialog .forgotPassword > h3{
  padding: 1em;
}
.UserDialog .forgotPassword > form{
  padding: 0 1em 1em;
}
.UserDialog form>.row{ 
  display: flex; 
  padding: .3em 0; 
}
.UserDialog form>.row input{
  border:0;
  border-bottom:1px solid #ccc;
  outline:none;
  transition: all .5s cubic-bezier(0.21, 0.43, 0.86, 0.63);
}
.UserDialog form>.row input:focus{
  border-bottom:1px solid #333;
}
.UserDialog form>.row>label:first-child{ 
  width: 4em; 
}
.UserDialog form>.row.actions{ 
  padding-left: 4em; 
  display: flex;
  align-items:center;
}

.UserDialog form>.row.actions>button{
  border:none;
  background:#333;
  color:#fff;
  padding:.5em .8em;
  outline: none;
  cursor:pointer;
}
.UserDialog button{
  font: inherit;
  padding: .2em;
}